<competition-add (onAdd)="addCompetitions($event)"></competition-add>

<button type="button" (click)="save()">Speichern</button>

<table class="table table-hover table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Disziplin</th>
      <th>Altersklasse</th>
      <th>Kosten</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let competition of competitions">
      <td>{{competition.number}}</td>
      <!--<td>{{competition.discipline}}</td>
      <td>{{competition.ageClass}}</td>
      <td>{{competition.cost}}</td>-->
      <td>
        <select class="form-control input-sm" [(ngModel)]="competition.discipline">
          <option *ngFor="let discipline of disciplines" [value]="discipline.id">{{discipline.name}}</option>
        </select>
      </td>
      <td>
        <select class="form-control input-sm" [(ngModel)]="competition.discipline">
          <option *ngFor="let ageClass of ageClasses" [value]="ageClass.id">{{ageClass.name}}</option>
        </select>
      </td>
      <td>
        <input type="number" class="form-control input-sm" [(ngModel)]="competition.discipline">
      </td>
    </tr>
  </tbody>
</table>